.login-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.logo-login-form {
    margin-bottom: 96px;
}

.login-form {
    width: 466px;
    .button-wrapper {
        width: 100%;
    }
}

.input-title {
    font-weight: 800;
    font-size: 12px;
    margin-bottom: 8px;
    color: #ADADAD;
    letter-spacing: 3.5px;
}

.keep-logged {
    display: flex;
    align-items: center;
    color: #2D3436;
    &>input {
        width: 18px;
        height: 18px;
        margin-right: 11px;
    }
}