.button-wrapper {
    margin: 35px 0 16px;
    height: 52px;
    width: 100%;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #7DB59A;
    border: none;
    border-radius: 16px;
}