.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    width: 96px;
    min-height: 100vh;
    background: linear-gradient(180deg, #D5EEE2 0%, #7DB59A 43.23%);
}

.sidebar-logo {
    width: 72px;
    height: 72px;
    margin: 32px 12px 47px;
}

.sidebar-links {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar-item {
    margin-bottom: 25px;
    .sidebar-link {}
}